.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    z-index:999;
}

.modal-contenido{
    background:white;
    width:90%;
    max-width:600px;
    margin:50px auto;
    border-radius:15px;
    padding:20px;
    text-align:center;
}

.modal-contenido img{
    width:100%;
    border-radius:12px;
}

.cerrar{
    float:right;
    font-size:30px;
    cursor:pointer;
}
