body{
    background:#e8f5e9;
}

header{
    background:#4b5d2a;
    color:white;
    text-align:center;
    padding:30px;
}

.productos{
    display:flex;
    justify-content:center;
}

.producto{
    width:300px;
    background:white;
    border-radius:12px;
    overflow:hidden;
}
